* {
    padding: 0;
    margin: 0;
}

body{
    font-family: "Quicksand", sans-serif;
}

.toast-invalid {
    background-color: rgba(206, 85, 113);
    border-radius: 5px;
    color: whitesmoke; 
    width: 98%;  
    padding: 11px;
    text-align: center;
}
.toast-valid {
    background-color: rgba(191, 222, 129);;
    border-radius: 5px;
    color: whitesmoke;   
    width: 98%;
    padding: 11px;
    text-align: center;
}

button.disabled,
button:disabled {
    background-color: #d3d3d3 !important; 
    color: #a0a0a0 !important;           
    cursor: not-allowed;      
    border: 1px solid #ccc !important;  
    opacity: 0.9 !important;            
}