body{
    display: inline-block;
}

.questions{
    border-left: 5px solid gray;
    background-color: rgba(117, 113, 117, 0.324);
    width: 80%;
    margin: 0.2rem  auto 0  auto;
    padding: 1rem;

    h2{
        text-align: center;
        font-weight: lighter;
        color: whitesmoke;
        font-size: xx-large;
        margin-bottom: 1rem;
    }

    .page-clock-hint-container  {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .clock-icon{
        position: relative;
        top: 4px;
        color: rgba(120, 86, 117, 0.447);
    }

    .page {
        font-size: 1rem;
        font-weight: bold;
        color: rgb(73, 73, 73);
    }

    .hint-bulb{
        position: relative;
        color: rgba(120, 86, 117, 0.447);
        cursor: pointer;
    }

    .hint-bulb:hover {
        color: rgba(120, 86, 117);
    }

    .hint-number{
        position: relative;
        top: -3px;
        font-size: 15px;
        font-weight: bold;
        color: rgb(73, 73, 73);
    }

    

    h5{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        line-height: 1.5;
        text-align: center;
        color: whitesmoke;
    }

    .options-container{
        display: inline-block;
        width: 50%;
    }

    .option{
        background-color: rgba(120, 86, 117, 0.447);
        border-radius: 50px;
        color: whitesmoke;
        cursor: pointer;
        margin: 1rem auto;
        padding: 1.5rem;
        transition: 0.3s linear all;
        text-align: center;
        width: 90%;
    }

    .option:hover {
        background-color: rgba(120, 86, 117, 0.815);
    }
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin: 0  auto 0.1rem  auto;
    padding: 0.5rem;
    width: 100%;
}
.button-container button { 
    border: none;
    color: whitesmoke;
    cursor: pointer;
    padding: 1rem;
    border-radius: 15px;
}

.button-container button:first-child {
    background-color: rgb(191, 222, 129);
    transition: 0.3s linear all;
}

.button-container button:first-child:hover {
    background-color: rgba(119, 175, 45, 0.818);
}

.button-container button:nth-child(2) {
    background-color: rgb(206, 85, 113);
    transition: 0.3s linear all;
}

.button-container button:nth-child(2):hover {
    background-color: rgb(171, 39, 76);
}

.button-container button:nth-child(3) {
    background-color: rgb(191, 222, 129);
    transition: 0.3s linear all;
}

.button-container button:nth-child(3):hover {
    background-color: rgba(119, 175, 45, 0.818);
}



@media (max-width: 768px) {
    .questions {
        width: 90%;
        padding: 1rem;
    }

    .options-container {
        width: 100%;
    }

    .option {
        width: 100%;
        margin: 0.5rem 0;
        padding: 1rem;
    }

    .button-container {
        flex-direction: column;
        width: 100%;
    }

    .button-container button {
        width: 100%;
        margin-bottom: 10px;
    }
}