body {
    background-image: url('../assets/Img/background.quiz.img.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

.instruction-container {
    background-color: rgba(117, 113, 117, 0.324);
    border-radius: 5px;
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding: 1.5rem;

    h1 {
        color: whitesmoke;
        font-size: 3rem;
        text-align: center;
    }

    p {
        color: rgb(254, 253, 254) ;
        text-align: center;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .hint-icon{
        position: relative;
        color: rgb(42, 41, 42);
        cursor: pointer;
    }

    .browser-default{
        padding: 2rem;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: rgba(82, 81, 82, 0.324);
        height: 100%;
        width: 80%;
        border-radius: 10px;
        border-left: 5px solid gray;
    }

    ul li {
        font-size: 18px;
        color: rgb(0, 0, 0);
    }

    .btns{
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

    .left, .right{
        background-color: rgba(117, 113, 117, 0.324);
        padding: 10px;
        border-radius: 15px;
        border-left: 5px solid gray;
    }

    .left:hover{
        background-color: rgba(66, 66, 66, 0.324);
    }
    
    .right:hover{
        background-color: rgba(66, 66, 66, 0.324);
    }
}

@media (max-width: 768) {
    .instruction-container {
        padding: 1rem;
        width: 100%;
        height: 100%;
    }
}